@use 'utilities' as *

// Resets
*, *:before, *:after
	box-sizing: inherit

html
	box-sizing: border-box

html, body
	height: 100%
	margin: 0

a
	color: inherit
	text-decoration: none



// Typography

html
	font-size: $font-factor
	font-family: $font-simple
  
body
	color: $color-text
	font-size: $font-medium
	font-family: $font-pixel

p
	margin: 2rem 0

h1
	margin: 0



// Misc

svg
	width: inherit
	filter: drop-shadow(1.5px 1.5px 1.5px #000)