// variables

$filter-shadow: drop-shadow(1.5px 1.5px 1.5px rgba(0, 0, 0, 0.5))


// base settings

*, *:before, *:after
	box-sizing: inherit

html
	box-sizing: border-box

html, body
	height: 100%
	margin: 0

svg
	width: inherit
	filter: $filter-shadow

img
	filter: $filter-shadow