-
	const
		nativeland = "https://native-land.ca",
		wapikoni = "http://wapikoni.ca",
		womenshelter = "https://nwsm.info",
		friendshipcentre = "https://nfcm.org",
		resiliencemtl = "https://resiliencemontreal.com";


section.acknow
	p.acknow-text.
		The city of Montreal is located on unceded Indigenous lands. The island's name is Tiohti:áke in Kanien’kéha and Mooniyang in Anishinaabemowin. Its recognized custodians are the Kanien’kehá:ka Nation, members of the Haudenosaunee confederacy.

	ul.acknow-ul

		li.acknow-li.nativeland Find out your local toponymy: 
			a.acknow-a(href = nativeland) Native Land

		li.acknow-li.wapikoni Discover Indigenous creativity: 
			a.acknow-a(href = wapikoni) Wapikoni Mobile

		li.acknow-li.support-links
			span Support local communities:

			ul.acknow-ul-nested

				li.acknow-li-nested.womenshelter
					a.acknow-a(href = womenshelter) Native Women's Shelter

				li.acknow-li-nested.friendshipcentre
					a.acknow-a(href = friendshipcentre) Native Friendship Centre

				li.acknow-li-nested.resiliencemtl
					a.acknow-a(href = resiliencemtl) Resilience Montreal