+b.P.tagline
	| Built with 
	+e.SPAN.icon
		include ../assets/svg/heart.svg
	|  by 
	+e.A.link(href=website) Claudia Cachay-Osorio

+b.stack
	+e.SPAN.icon.--id_sass
		include ../assets/svg/sass.svg
	|  + 
	+e.SPAN.icon.--id_js
		include ../assets/svg/js.svg
	|  + 
	+e.SPAN.icon.--id_gmaps
		include ../assets/svg/gmaps.svg
	|  = 
	+e.A.icon-link(href=repo)
		+e.SPAN.icon.--id_github
			include ../assets/svg/github.svg