-
	const
		website = "https://claudiacachayosorio.com",
		repo = "https://github.com/claudiacachayosorio/stardew-mtl";


mixin heart
	span.i-heart
		include ../assets/svg/heart.svg

p.tagline Built with #[+heart] by #[a.link(href = website)] Claudia Cachay-Osorio


mixin sass
	span.i-sass
		include ../assets/svg/sass.svg
mixin js
	span.i-js
		include ../assets/svg/js.svg
mixin gmaps
	span.i-gmaps
		include ../assets/svg/gmaps.svg
mixin repo
	a.link(href = repo)
		span.i-github
			include ../assets/svg/github.svg

div.stack #[+sass] + #[+js] + #[+gmaps] = #[+repo]