-
	const
		pngDir = "assets/png/",
		readme = "https://github.com/claudiacachayosorio/stardew-mtl/#readme";


h1 Stardew MTL


section.main-child.text

	mixin bus
		a.link(href = "#map")
			img.i.i-bus(src = pngDir + "locations/bus.png")

	p.welcome.
		This is a Stardew Valley inspired map sprinkled with my personal selection of Montreal's highlights. You can move around as you see fit to discover them. If you ever get lost, click on the bus #[+bus] icon in the top-left corner of the map. It will appear as you move away from the starting point.

	mixin junimo
		img.ipixel.i-junimo(src = pngDir + "misc/junimo.png")
	span.text-divider
		+junimo
		+junimo
		+junimo

	include _acknow


div.main-child.map#map


section.main-child.credits
	img.ipixel.i-inventory(src = pngDir + "misc/inventory.png")

	mixin credits-link
		a.link(href = readme) here
	p.credits-text Sources for the icons and other tools used to create this website can be found #[+credits-link].