h1 Stardew MTL

- const pngDir = "../assets/png/";


section.text
	p.intro
		| This is a Stardew Valley inspired map sprinkled with my personal selection of Montreal's highlights. You can move around as you see fit to discover them. If you ever get lost, click on the bus 
		a.link(href="#map")
			img.i-bus(src=pngDir + "bus.png")
		|  icon in the top-left corner of the map. It will appear as you move away from the starting point.

	mixin junimo
		img.i-junimo(src=ongDir + "junimo.png")
	.text-divider
		+junimo
		+junimo
		+junimo

	include _acknow


div.map#map


section.credits
	- const creditsLink = "https://github.com/claudiacachayosorio/stardew-mtl/#readme";

	img.i-inventory(src=pngDir + "inventory.png")
	p.credits-text Sources for the icons and other tools used to create this website can be found #[a.link(href=creditsLink) here].