doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Stardew MTL

		//- google fonts
		- const fonts = "https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&family=VT323&family=Roboto&display=swap";
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(rel="stylesheet" href=fonts)

		//- styles
		link(rel="stylesheet" href="./index.css")

	body.sky
		main.col-1
			include _main

		footer.col-1
			include _footer

		//- scripts
		- const api = "https://maps.googleapis.com/maps/api/js?key=AIzaSyBS9vtCLKE5r0d_qtbdDJlmrl16C7rnYjw";
		script(src=api)
		script(type="module" src="index.js")